
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Elektrodalmacija
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" /> 
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
<script src="{% static 'personal/skripte/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'personal/skripte/jquery.mask.min.js' %}"></script>
   <!--  <script src="{% static 'personal/skripte/majajs.js' %}"></script> -->
<style>
hr{
    border:0;
    margin:0;
    width:100%;
    height:2px;
    background:#d346b1;
}
  </style>


  </head>



<body>

	
	
	
	
	<br>
	<div class="container">
		<h1 class="futuraBlack text-2xl xl:text-6xl leading-tight mt-5 xl:mt-12">Babić objavio popis, ima promjena u odnosu na najave</h1>
  <div class="row">
    <div class="col-sm-6">
	   
	    <img src="https://d35nxk5xx1d0px.cloudfront.net/repository/images/_variations/0/d/9/d/0d9d2f09dbdc908083e200f701563adc_view_article.jpg?v=40">
	     
    </div>
	  
	   <div class="col-sm-6">
		       <p>Izbornik  nogometne reprezentacije Elektrodalmacije <strong>Ivo </strong><strong>Babić
		   </strong>objavio je popis igrača za predstojeće susrete protiv HEP d.d. i Elektrojug-a u sklopu kvalifikacija za Europsko prvenstvo elektroprivrednih djelatnosti 2024. u Njemačkoj.&nbsp;</p>
	<p>Izbornik  je za ovu akciju pozvao 9 igrača, kojima je pridodao i tri pretpoziva .</p>
		   </div>
  
  </div>
		
		<br><br>
		  <div class="row">
   		 <div class="col-sm-12">
			<p>Reprezentacija Elektrodalmacije će se okupit  15. svibnja u Splitu gdje će boraviti do 19. svibnja 
				kada će otputovati prema užarenoj atmnosferi Zagrebačke Trešnjevke. 
				"Na ovom širem popisu je 12 igrača kako bismo imali dovoljno opcija u slučaju bilo kakvih nepredviđenih situacija. 
				Velik hendikep nam je ozljeda našeg ključnog igrača Tonija Jelavića kojem ovim putem želim što brži oporavak.
				Raduje me što je velik broj igrača u dobroj formi i što većina kandidata ima dobru minutažu. Vjerujem da će svi maksimalno iskoristiti 
				naredna dva tjedna kako bi u optimalnom stanju dočekali okupljanje kojem se svi iznimno radujemo", poručio je Babić.
				Izbornik je posebno naglasio zadovoljstvo povratkom Darka Glavana koji će omogućiti fluidniju igru u fazi otvaranja napada.  </p>
			 <br>
			 <p><strong>Popis pozvanih igrača za utakmice protiv Elektrojuga i HEP d.d.:</strong></p><br>
			 
			 <div class="row">
   		 		<div class="col-sm-3">Vratar:<br><p>1. Petar Karin </p><hr></div>
				 <div class="col-sm-3">Obrambeni:<br><p>2. Luka Rebić</p><br><p>3. Kristijan Ćavar</p><br><p>4.Jure Radan</p><br><p>5.Darko Glavan</p><hr></div>
				 <div class="col-sm-3">Napadači:<br><p>6.Josip Janković</p><br><p>7.Marinko Škaričić</p><br><p>8.Dino Talaja</p><br><p>9.Ante Veža </p><hr></div>
				 <div class="col-sm-3">Pretpoziv:<br><p>Joško Ivanišević Jelavić</p><br><p>Zvonimir Matković </p><br><p>Romeo Jović</p><hr></div>
				 </div>
			 
	    	 </div>
			  
	  </div>
		
		
</div>
	
	


</body>
</html>


