
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Milosrdni Isus
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" /> 
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
<script src="{% static 'personal/skripte/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'personal/skripte/jquery.mask.min.js' %}"></script>


<style>

body{
     background: url("/static/img/milost.jpg")  ;
  
</style>
</head>

    <div class="content">
    <br>
 <h2 class="card-title">----            <i class="tim-icons icon-simple-add text-info"></i>Bravo Emanuel</h2>

  <h4 class="card-title">----            <i class="tim-icons icon-tap-02 text-info"></i> Primi pečat dara duha svetog ! </h4>
  <h4 class="card-title">  ----            <i class="tim-icons icon-planet text-info"></i>  Požuri polako</h4>
  </div>


 <body>
   
       
		
		

</body>


</html>