
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Emanuel
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" /> 
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
<script src="{% static 'personal/skripte/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'personal/skripte/jquery.mask.min.js' %}"></script>



</head>



<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          
          <a href="https://www.bitno.net/vjera/duhovnost/sedam-konkretnih-situacija-u-kojima-treba-moliti-za-darove-duha-svetoga/" class="simple-text logo-normal">
            Darovi duha svetog
          </a>
        </div>
        <ul class="nav">
          <li >
           <a href="https://www.bitno.net/teme/mudrost/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Mudrost</p>
           </a>
          </li>
          <li>
            <a href="https://www.bitno.net/teme/razum/">
              <i class="tim-icons icon-atom"></i>
              <p>Razum</p>
            </a>
          </li>
          <li>
            <a href="https://www.zg-nadbiskupija.hr/dokumenti/rijec-svetog-oca/dar-savjeta">
              <i class="tim-icons icon-pin"></i>
              <p>Savjet</p>
            </a>
          </li>
          <li>
            <a href="https://www.bitno.net/teme/jakost/">
              <i class="tim-icons icon-bell-55"></i>
              <p>Jakost</p>
            </a>
          </li>
          <li>
            <a href="https://www.bitno.net/teme/znanje/">
              <i class="tim-icons icon-single-02"></i>
              <p>Znanje</p>
            </a>
          </li>
          <li>
            <a href="https://www.bitno.net/teme/poboznost/">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>pobožnost</p>
            </a>
          </li>
          <li>
            <a href="https://www.bitno.net/teme/strah-bozji/">
              <i class="tim-icons icon-align-center"></i>
              <p>Strah Božji</p>
            </a>
          </li>
        
       
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
           
			<br>
			<br>
            <a class="navbar-brand"  href="javascript:void(0)"><i class="tim-icons icon-atom text-info "></i> Emanuel</a>
          </div>
          
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
             
			 
            
             
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
	  <h2 class="card-title"><i class="tim-icons icon-istanbul text-info"></i> Priprava za pristup svetoj krizmi</h2>
	 
	   
	      <h5 class="card-title"><i class="tim-icons icon-minimal-right text-danger"></i> Ispit znanja se sastoji od dva dijela. 
	      U prvom zadatku moraš napisati odgovor na postavljeno pitanje. 
	       Ako sve točno odgovoriš otvara se novi kviz u kojem ćeš odabrati odgovore između 4 ponuđena. 
	        Nakon toga  trebaš reći što se nalazi na kraju.
	        
	        Tek nakon toga ide manje bitan ispit o Django formama (1. dio kviza) i JavaScript qviz (2. dio).
	        
	        S lijeve strane navbara imaš linkove preko kojih ćeš doći do odgovora koja ne znaš.<br><br>
	        Sretno momče !</h5>
	        
	        
	      
	  
		
		
		
		
		
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h3 class="card-title"><i class="tim-icons icon-minimal-right text-success"></i>Upiši točan odgovor, svi odgovori moraju biti točni da prođeš u drugi krug </h3>
                    <h4 class="card-title"><i class="tim-icons icon-minimal-right text-success"></i>Kad odgovoriš točna na sva pitanja probaj krenuti dalje... </h4>
                    <h5 class="card-title"><i class="tim-icons icon-minimal-right text-success"></i>Ako odgovor sadrži više riječi, odvoji ih zarezom <br>
                   <i class="tim-icons icon-minimal-right text-success"></i><i class="tim-icons icon-minimal-right text-success"></i> Primjer: Tko su bili prvih dvoje ljudi? - Adam,Eva </h5>
                   
                  </div>
                  
                </div>
              </div>
              <div class="row ">               
				 <div class="col-lg-12">
            <div class="card card-chart">
             
              <div class="card-body">
               
                 
 <!--style="display: none;"-->
 {% load widget_tweaks %}
<form method="post" >
{% csrf_token %}
{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert" >
{% for error in form.non_field_errors %}
{{ error }}
{% endfor %}
</div>
{% endif %}

{% for field in form.visible_fields %}
<div class="form-group"  >
{{ field.label_tag }}
{% if form.is_bound %}
{% if field.errors %}
{% render_field field class="form-control is-invalid" %}
{% for error in field.errors %}
<div class="invalid-feedback">
{{ error }}
</div>
{% endfor %}
{% else %}
{% render_field field class="form-control is-valid" %}
{% endif %}
{% else %}
{% render_field field class="form-control" %}
{% endif %}
{% if field.help_text %}
<small class="form-text text-muted">{{ field.help_text }}</small>
{% endif %}
</div>
{% endfor %}
 <button type="submit" id="prijenos" class="btn btn-danger btn-lg btn-block" > Probaj dalje uz Božju pomoć (bez Chatgpt)</button><br>
               
              </div>
            </div>
          </div>
		  
		  
                
				  
              
              </div>
            </div>
          </div>
        </div>
		
		
		
		
	
		
		
		
		
       
		
		

</body>


	


</html>